<%= form_with model: [@employer, @job_detail] do |form| %>

  <div>
    <%=form.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}%><br>
  </div>

  <div>
    <%= form.label :Job_title %><br>
    <%= form.text_field :Job_title %>
  </div>

  <div>
    <%= form.label :Job_summary %><br>
    <%= form.text_area :Job_summary %>
  </div>

  <div>
    <%= form.label :Qualification_skills %><br>
    <%= form.text_area :Qualification_skills %>
  </div>

  <div>
    <%= form.label :Experience %><br>
    <%= form.text_area :Experience %>
  </div>

  <div>
    <%= form.label :salary %><br>
    <%= form.text_area :salary %>
  </div>

  <div>
    <%= form.label :Link_to_job %><br>
    <%= form.text_field :job_url %>
  </div>

  
  <div>
    <%= form.submit %>
  </div>
<% end %>