<h1>New Job</h1>

<%= form_with model: @job_detail do |form| %>
  <div>
    <%= form.label :Job_title %><br>
    <%= form.text_field :Job_title %>
  </div>

  <div>
    <%= form.label :salary %><br>
    <%= form.number_field :salary %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>