<div id="jobs">
  <div class="job">
    <h2>
      <%= @job_detail.Job_title %>
    </h2>
    <p>
      <%= @job_detail.Job_summary %>
    </p>
    <p>
      <%= @job_detail.Qualification_skills %>
    </p>
    <p>
      <%= @job_detail.Experience %>
    </p>
    <p>
      <%= @job_detail.salary %>
    </p>
    
    <button class="btn btn-default">
      <%= link_to "Apply for job", new_employee_path %>
    </button>
  </div>
</div>

<%if current_user.employer?%>
  <div id="links">
    <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
    <%= link_to "Edit", edit_job_detail_path(@job_detail), class: "btn btn-sm btn-default" %>
    <%= link_to "Delete", job_detail_path(@job_detail), 
        data: { turbo_method: :delete,confirm: "Are you sure?" }, 
        class: "btn btn-sm btn-default" %>
  </div>
<%end%>  


